html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.el-card {
  padding: 10px;
}

form .inline {
  display: inline-block;
}

.el-popover {
  min-width: 50px;
}

.quote {
  margin: 10px;
  padding: 10px;
  border-left: 5px solid #409EFF;
  color: #666666;
  background-color: #eeeeee;
}

.no-padding {
  padding: 0;
}