//@import "./transitions.scss"; // 取消注释，启用动画过渡效果

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.md_el-card {
  padding: 10px;
  box-sizing: border-box;
}

form .inline {
  display: inline-block;
}

.el-popover {
  min-width: 50px;
}

.md_no-padding {
  padding: 0;
}

.md_hover-warning-plain:hover {
  color: #e6a23c !important;
}



#md_main {
  // 页面容器
.md_page-container {
    height: 100%;
    width: 100%;
    color: #303133;
    padding: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    // 嵌套只留外层的padding, 防止padding过多
    & .md_page-container {
      padding: 0;
    }
  }

  // 容器视图
  .md_view-container {
    border: 1px solid #EBEEF5;
    padding: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #FFFFFF;
  }
}

.md_max-z-index {
  z-index: 9999999 !important;
}
